@import 'presets.scss';

.section-dashboard-patient {
    h4 {
        margin-bottom: 20px;
        font-weight: 300;
        color: rgba($dark-4, $alpha: .75);
    }
    .greetings {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 70px;
        .name-user {
            font-weight: 500;
        }
    }
    .row-information-patient {
        .wrapper-card {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            height: 240px;
            overflow-y: scroll;
            grid-template-rows: auto;
            .wrapper-no-order {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 240px;
                border-radius: 12px;
                box-shadow: 0px 0px 5px rgba($dark-4, .09);
                padding: 20px 30px;
                background: $white-1;
                h3 {
                    font-size: 50px;
                    font-weight: bold;
                    line-height: normal;
                }
                p {
                    color: rgba($dark-4, .7);
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
                h6 {
                    font-size: 18px;
                }
                .btn-print {
                    display: flex;
                    padding: 14px 25px;
                }
            }
            .alert-activity {
                background: rgba($blue-4, .55);
            }
        }
    }
    .row-information-checkup {
        .alert-news {
            background: rgba($green-1, .35);
        }
    }
}
.section-appointment-schedule {
    .row-schedule-doctor {
        border-radius: 7px;
        padding: 20px;
        background: $white-1;
        .row-search {
            margin-bottom: 20px;
            .wrapper-search {
                display: flex;
                input {
                    min-width: 220px;
                }
            }
        }
    }
}
.section-history-medical {
    .row-wrapper-table {
        box-shadow: 0px 0px 4px rgba($dark-4, $alpha: .12);
        border-radius: 7px;
        margin-top: 30px;
        padding: 20px;
        background: $white-1;
    }
}
.section-history-prescription {
    .card {
        max-width: 580px;
    }
}
.section-detail-patient {
    .container-detail {
        box-shadow: 0px 0px 5px rgba(0,0,0, .12);
        padding: 40px;
        border-radius: 7px;
        max-width: 800px;
        background: white;
        .head-detail {
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            img.image-profile {
                margin-right: 20px;
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
            .wrapper-name {
                p {
                    font-size: 14px;
                }                
            }
        }
    }
}
.section-print-no-order {
    padding: 25px;
    .no-order {
        position: absolute;
        left: 25px;
        bottom: 25px;
        width: 50%;
        h4 {
            font-size: 46px;
            color: $white-4;
        }
    }
    .brand {
        img {
            float: left;
        }
        .wrapper-title {
            margin-left: 10px;
            float: left;
            h6 {
                color: $red-1;
            }
            p {
                font: 6px;
                color: $dark-4;
            }
        }
        
    }
    .content {
        clear: both;
        position: absolute;
        right: 25px;
        bottom: 25px;
        float: right;
        width: 40%;
        font-size: 8px;
        table {
            th {
                width: 70px;
            }
            td, th{
                text-align: left;
                padding-bottom: 3px;
            }
        }
    }
    
}

// Dark Mode
.darkmode {
    .section-dashboard-patient {
        .row-information-patient {
            .wrapper-card {
                .wrapper-no-order {
                    background: $dark-3;
                    h6 {
                        color: $white-4;
                    }
                }
            }
        }
    }
    .section-appointment-schedule {
        .row-schedule-doctor {
            background: $dark-3;
            .table-responsive {
                thead {
                    color: $white-3;
                }
                tbody {
                    color: $white-4;
                }
            }
        }
    }
    .section-history-medical {
        .row-wrapper-table {
            background: $dark-3;
            thead {
                color: $white-3;
            }
            tbody {
                color: $white-4;
            }
        }
    }
    .section-history-prescription {
        .card {
            border: none;
            overflow: hidden;
            .card-header {
                background: $dark-3;
            }
            .card-body {
                background: $dark-3;
                table {
                    thead {
                        color: $white-3;
                    }
                    tbody {
                        color: $white-4;
                    }
                }
            }
        }
        a {
            color: rgba($blue-1, .80);
        }
    }
    .section-detail-patient {
        .container-detail {
            background: $dark-3;
            input {
                background: $white-4;
            }
        }
    }
}

// Responsive Content