body {
  font-family: "Poppins", sans-serif;
}

.section-hero .headline-hero h1 {
  font-size: 44px;
  line-height: 1.4;
  font-weight: 400;
}
.section-hero .headline-hero .paragraph-hero {
  font-weight: 300;
  color: #828282;
  line-height: 1.6;
}
.section-hero .headline-hero .btn-register {
  border: 1px solid #2F80ED;
  color: #2F80ED;
  transition: all 0.4s ease;
}
.section-hero .headline-hero .btn-register:hover {
  transition: all 0.4s ease;
  background-color: #2F80ED;
  color: white;
}

.section-greetings .container-greetings {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-greetings .container-greetings .heading-head {
  margin-bottom: 55px;
}
.section-greetings .container-greetings .heading-head h2 {
  font-size: 28px;
  line-height: 1.6;
  color: #828282;
}
.section-greetings .container-greetings .content-greetings .greetings-paragraph {
  font-size: 18px;
  line-height: 1.7;
}

.section-schedule .row-schedule .wrapper-schedule {
  border-radius: 12px 0px 0px 12px;
  background: #032f6c;
}
.section-schedule .row-schedule .wrapper-schedule table {
  color: white;
  height: 300px;
}
.section-schedule .row-schedule .wrapper-schedule table th, .section-schedule .row-schedule .wrapper-schedule table td {
  width: 50%;
}
.section-schedule .row-schedule .headline-schedule {
  display: grid;
  place-content: center;
  min-height: 300px;
  padding: 0px 35px;
  border-radius: 0px 12px 12px 0px;
}
.section-schedule .row-schedule .headline-schedule h4 {
  font-size: 30px;
}
.section-schedule .row-schedule .headline-schedule .paragraph-headline {
  font-size: 19px;
  margin-top: 28px;
  font-weight: 300;
  opacity: 0.55;
}

.section-questions .container-questions {
  margin-bottom: 30px;
}

.footer-page {
  height: 450px;
  background: #F2F2F2;
}
.footer-page .container-footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}
.footer-page .container-footer .heading-footer h1 {
  color: #2F80ED;
}
.footer-page .container-footer .copyright-heading {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 40px;
}
.footer-page .container-footer .copyright-heading .copyright-text {
  font-weight: 500;
}

.section-register .container-register {
  margin-top: 50px;
  margin-bottom: 30px;
}
.section-register .container-register .btn-registration {
  padding: 13px 28px;
  margin-right: 15px;
}

.section-login .container-login {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-login .container-login .wrapper-login {
  box-shadow: 0px 1px 7px rgba(85, 85, 85, 0.18);
  border-radius: 12px;
  overflow: hidden;
}
.section-login .container-login .wrapper-login .image-login, .section-login .container-login .wrapper-login .field-login {
  min-height: 500px;
}
.section-login .container-login .wrapper-login .image-login {
  padding: 0px 40px;
  color: white;
  text-align: center;
  display: grid;
  place-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.391), rgba(17, 17, 17, 0.547)), url("/img/image-3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-login .container-login .wrapper-login .image-login .paragpraph-login {
  line-height: 1.7;
  font-weight: 300;
  color: #F2F2F2;
}
.section-login .container-login .wrapper-login .field-login {
  padding: 0px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-main-dashboard {
  height: 100vh;
}
.section-main-dashboard .container-fluid {
  padding: 0;
}
.section-main-dashboard .container-fluid .row-wrapper {
  display: flex;
  position: relative;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar {
  position: fixed;
  height: 100vh;
  min-width: 280px;
  max-width: 280px;
  background: rgb(255, 255, 255);
  padding: 25px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar .headline-navbar {
  border-radius: 9px;
  background: rgb(249, 249, 249);
  min-height: 80px;
  margin-bottom: 60px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar .headline-navbar .image-user {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-bottom: 30px;
  border: 3px solid white;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar .headline-navbar .greetings-dashboard {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar ul li {
  margin-bottom: 10px;
  background: white;
  box-shadow: 0px 1px 4px rgba(93, 93, 93, 0.12);
  border-radius: 6px;
  overflow: hidden;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar ul li a {
  display: flex;
  align-items: center;
  min-height: 55px;
  color: rgb(109, 109, 109);
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar ul li a .icon {
  display: grid;
  place-content: center;
  min-height: 55px;
  min-width: 50px;
  font-weight: bold;
  font-size: 19px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar ul li a .nav-name {
  margin-left: 10px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar ul li:hover {
  background: #1d71de;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar ul li:hover a {
  color: white;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar ul li.active {
  background: #aaa;
}
.section-main-dashboard .container-fluid .row-wrapper .container-navbar ul li.active a {
  color: white;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content {
  position: relative;
  left: 280px;
  width: calc(100% - 280px);
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-navbar {
  display: flex;
  align-items: center;
  background: rgb(252, 252, 252);
  min-height: 75px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-navbar .nav-name .image-user {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-navbar .dropdown ul li button, .section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-navbar .dropdown ul li a {
  color: grey;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-navbar .dropdown ul li button .icon, .section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-navbar .dropdown ul li a .icon {
  font-size: 20px;
  display: grid;
  place-content: center;
  margin-right: 4px;
  min-height: 30px;
  min-width: 30px;
  font-weight: bold;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content {
  padding: 40px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-statistic .insight {
  background: white;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  min-height: 100px;
  box-shadow: 0px 1px 4px rgba(128, 128, 128, 0.14);
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-statistic .insight .icon {
  color: #1d71de;
  font-size: 30px;
  border-radius: 6px;
  display: grid;
  place-content: center;
  min-height: 60px;
  min-width: 60px;
  border: 1px solid rgba(29, 113, 222, 0.4470588235);
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-statistic .insight h3 {
  font-size: 22px;
  font-weight: 300;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-statistic .insight p {
  font-size: 12px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-patient-in {
  margin-top: 65px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-patient-in .row {
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  background: white;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-patient-in .row form.form-search {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-patient-in .row form.form-search p {
  font-size: 12px;
  font-style: italic;
  color: #828282;
  margin: 0 0 10px 0;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-patient-in .row form.form-search button {
  width: 130px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-patient-in .row .table-responsive th, .section-main-dashboard .container-fluid .row-wrapper .container-main-content .wrapper-content .container-patient-in .row .table-responsive td {
  padding: 10px 12px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-add-user h3 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-add-user .row-add-user {
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-add-user .row-add-user .input-search {
  max-width: 230px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-add-user .row-add-user form .heading-information-account {
  margin-top: 26px;
  margin-bottom: 19px;
}
.section-main-dashboard .container-fluid .row-wrapper .container-add-user .row-list-user {
  margin-top: 1px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 7px 7px 7px;
  background-color: white;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .container-main-content .wrapper-content {
    max-width: 1300px;
  }
}
@media (max-width: 768px) {
  .section-hero .row-hero {
    flex-direction: column-reverse;
  }
  .section-hero .row-hero .headline-hero {
    margin-top: 20px;
    text-align: center;
  }

  .section-schedule .row-schedule .wrapper-schedule {
    border-radius: 12px 12px 0px 0px;
  }
  .section-schedule .row-schedule .headline-schedule {
    border-radius: 0px 0px 12px 12px;
  }

  .section-login .container-login .wrapper-login .image-login {
    display: none;
  }
}
@media (max-width: 576px) {
  .section-greetings .content-greetings .image-greetings {
    margin-bottom: 20px;
  }
}
