@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
}
body {
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.section-invoice-payment .row-headline-info {
  min-height: 300px;
}
.section-invoice-payment .row-headline-info .wrapper-head {
  min-height: 170px;
}
.section-invoice-payment .row-headline-info .wrapper-head .col-image {
  float: left;
}
.section-invoice-payment .row-headline-info .wrapper-head .col-desc-company {
  float: right;
}
.section-invoice-payment .row-headline-info .wrapper-head .col-desc-company .head-name-company .name-company {
  color: rgb(57, 57, 57);
  font-weight: 700;
}
.section-invoice-payment .row-headline-info .wrapper-head .col-desc-company .head-name-company h5 {
  font-weight: 400;
  text-align: right;
  line-height: 0;
  font-size: 12px;
  color: #b3b3b3;
}
.section-invoice-payment .row-headline-info .wrapper-head .col-desc-company .contact-company {
  text-align: right;
  color: #b3b3b3;
}
.section-invoice-payment .row-headline-info .wrapper-head .col-desc-company .contact-company .headline-info {
  color: #999999;
  font-weight: bold;
}
.section-invoice-payment .row-headline-info .wrapper-head .col-desc-company .contact-company h5 {
  line-height: 0;
  font-weight: 400;
  font-size: 12px;
}
.section-invoice-payment .row-headline-info .row-title-foot {
  margin-top: 30px;
  line-height: 3px;
}
.section-invoice-payment .row-headline-info .row-title-foot p {
  font-size: 12px;
  color: black;
}
.section-invoice-payment .row-description-payment {
  font-size: 13px;
}
.section-invoice-payment .row-description-payment table {
  border-spacing: 0;
  width: 100%;
}
.section-invoice-payment .row-description-payment table thead tr th {
  color: #999999;
  padding-bottom: 35px;
  text-align: left;
}
.section-invoice-payment .row-description-payment table thead tr th:nth-child(1) {
  width: 400px;
}
.section-invoice-payment .row-description-payment table thead tr th:nth-child(3) {
  text-align: right;
  width: 120px;
}
.section-invoice-payment .row-description-payment table tbody tr td {
  font-size: 15px;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.437);
}
.section-invoice-payment .row-description-payment table tbody tr td:nth-child(3) {
  text-align: right;
}
.section-invoice-payment .row-description-payment table tbody tr.service_doctor td:nth-child(2) {
  text-align: right;
}
.section-invoice-payment .row-description-payment table tbody tr.total_payment td, .section-invoice-payment .row-description-payment table tbody tr.cash_payment td {
  font-weight: bold;
  color: #999999;
}
.section-invoice-payment .row-description-payment table tbody tr.total_payment td:nth-child(1), .section-invoice-payment .row-description-payment table tbody tr.cash_payment td:nth-child(1) {
  border-bottom: none;
}
.section-invoice-payment .row-description-payment table tbody tr.refund td {
  font-weight: bold;
  border-bottom: none;
  font-size: 20px;
  text-align: right;
}
.section-invoice-payment .row-description-payment table tbody tr.refund td:nth-child(2) {
  text-align: left;
  font-size: 15px;
  color: #999999;
}
.section-invoice-payment .status {
  line-height: 0;
  margin-top: 30px;
  text-align: center;
  padding: 20px 0px;
  border-radius: 7px;
  border: 2px solid #129c12;
}
.section-invoice-payment .status h3 {
  color: #129c12;
  font-size: 30px;
  font-weight: bold;
}
