@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: -260px;
  }
}
@keyframes hideNav {
  from {
    left: 0;
  }
  to {
    left: -260px;
  }
}
@-webkit-keyframes showNav {
  from {
    left: -260px;
  }
  to {
    left: 0;
  }
}
@keyframes showNav {
  from {
    left: -260px;
  }
  to {
    left: 0;
  }
}
